<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="user/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is about page</title>
</head>
<body>

<section class="home">
	
	
	
	<div>
		
		<div>
	
<h1>This is private dashboard</h1>

</div>
<div>

<h3 class="my-3">Donate us</h3>
<input id="payment_field"    type="text" class="form-control" placeholder="enter amount"/>

<div class="text-center mt-4">
	<button onclick="paymentstart()"   class="btn btn-success">PAY</button>
</div>

</div>
</div>
</section>

</body>
</html>